@{
    <h1>@ViewBag.Category</h1>

    <div class="container marketing">
        <div class="row featurette" style="background: #f2f2f2">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Добавить автомобиль BMW</h2>
                <a class="btn" asp-controller="Add" asp-action="AddBMWM5">Добавить M5</a>
                <a class="btn" asp-controller="Add" asp-action="AddBMWM3">Добавить M3</a>
                <a class="btn" asp-controller="Add" asp-action="AddBMWX5">Добавить X5</a>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <div class="container marketing">
        <div class="row featurette" style="background: #f2f2f2">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Добавить автомобиль Mersedes-Benz</h2>
                <a class="btn" asp-controller="Add" asp-action="AddMersedesBenzE">Добавить E-Class</a>
                <a class="btn" asp-controller="Add" asp-action="AddMersedesBenzС">Добавить C-Class</a>
                <a class="btn" asp-controller="Add" asp-action="AddMersedesBenzA">Добавить A-Class</a>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <div class="container marketing">
        <div class="row featurette" style="background: #f2f2f2">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Добавить автомобиль Lada</h2>
                <a class="btn" asp-controller="Add" asp-action="AddLadaPriora">Добавить Priora</a>
                <a class="btn" asp-controller="Add" asp-action="AddLada2114">Добавить 2114</a>
                <a class="btn" asp-controller="Add" asp-action="AddLada2110">Добавить 2110</a>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <div class="container marketing">
        <div class="row featurette" style="background: #f2f2f2">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Добавить другой автомобиль</h2>
                <a class="btn" asp-controller="Add" asp-action="AddNewCar">Добавить свой автомобиль</a>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
}



